* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Marvel;
  src: url("../assets/fonts/kenyan coffee rg.ttf");
  font-style: normal; }

body {
  font-family: 'Marvel'; }

.parallax {
  background-image: url("../assets/images/Wallpaper.jpg");
  background-size: 100%;
  background-attachment: fixed; }

.subtitulo {
  background-color: rgba(255, 0, 0, 0.9);
  background-image: radial-gradient(circle, red, black);
  text-align: center;
  font-size: 30px;
  color: white; }

h2 {
  width: 100%; }

.grid-logo {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; }

.grid-logo-item {
  height: 100%;
  width: 70%; }

.estilo-ul {
  display: flex;
  list-style: none;
  justify-content: end;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5); }

.estilo-nav-li {
  text-align: center;
  font-size: 18;
  margin: 2px;
  padding: 2px;
  border: solid; }

.btn-base, .btn-index, .btn-peliculas, .btn-cronologia, .btn-contacto {
  text-decoration: none;
  height: 20px;
  width: 100px;
  transition: all 0.3s; }
  .btn-base:hover, .btn-index:hover, .btn-peliculas:hover, .btn-cronologia:hover, .btn-contacto:hover {
    opacity: 0.5; }

.btn-index {
  background-color: aqua; }

.btn-peliculas {
  background-color: aquamarine; }

.btn-cronologia {
  background-color: cadetblue; }

.btn-contacto {
  background-color: cornflowerblue; }

.estilo-a {
  text-decoration: none;
  color: black; }

.estilo-section-div1 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  grid-template-columns: 650px 450px;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }

.estilo-section-div2 {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-columns: 275px 275px 550px;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }

.grid__item {
  height: 100%;
  width: 100%;
  transition: transform 0.3s; }
  .grid__item:hover {
    transform: scale(0.9); }
  .grid__item-img {
    height: 98%;
    width: 98%; }

.texto1 {
  padding: 15px;
  background-color: rgba(250, 250, 250, 0.8);
  color: rgba(247, 6, 6, 0.9);
  font-size: 20px;
  font-style: italic; }

.texto2 {
  padding: 15px;
  background-color: rgba(243, 46, 46, 0.8);
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-style: italic; }

.grid__video {
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .grid__video-item {
    margin: 1px;
    width: 80%;
    height: 80%; }

.link-instagram {
  margin: 0 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #C13584; }

.link-twitter {
  margin: 0 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #00ACEE; }

.link-facebook {
  margin: 0 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #3B5998; }

.link-whatsapp {
  margin: 0 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #25D366; }

.footer {
  background-image: radial-gradient(circle, red, black);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 150px; }

.estilo-a-footer {
  width: 50px;
  height: 50px;
  transition: transform 0.3s; }
  .estilo-a-footer:hover {
    transform: translateY(-15px); }

h4 {
  padding: 10px; }

.portada-peli {
  padding-top: 5px;
  width: 120px;
  height: 170px; }

.section-table {
  background-color: rgba(0, 0, 0, 0.5); }

.table {
  padding-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.table-thead-tr {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7); }

.table-tbody-tr {
  background-color: rgba(255, 0, 0, 0.7);
  font-size: 20px; }

.table-tbody-tr2 {
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px; }

.h2-cronologia {
  color: white;
  font-size: 25px; }

.estilo-section-crono {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px; }

.crono-item {
  padding: 15px;
  height: 90%;
  width: 90%; }

.font-contacto {
  color: white;
  font-size: 22; }

.section-contacto {
  background-color: rgba(255, 0, 0, 0.4);
  width: 100%;
  height: 500px; }

.form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem; }

.form button {
  padding: 0.5em 1em;
  border: black;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer; }

@media (max-width: 1100px) {
  .estilo-section-div1 {
    grid-template-columns: 500px 300px; }
  .estilo-section-div2 {
    grid-template-columns: 230px 230px 340px; }
  .grid__video-item {
    margin: 1px;
    width: 90%;
    height: 90%; }
  .crono-item {
    height: 350px; } }

@media (max-width: 768px) {
  .estilo-section-div1 {
    grid-template-columns: 400px 250px; }
  .estilo-section-div2 {
    grid-template-columns: 180px 180px 290px; }
  .grid__video {
    height: 550px;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center; }
  .estilo-ul {
    justify-content: center;
    height: 40px; }
  .estilo-section-crono {
    grid-template-columns: 1fr; }
  .footer {
    height: 150px; } }

@media (max-width: 650px) {
  .boton-nav {
    height: 28px;
    width: 50px; }
  .estilo-section-div1 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr; }
  .estilo-section-div2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr; }
  .grid__video {
    height: 500px; } }

@media (max-width: 400px) {
  .crono-item {
    width: 330px; }
  .portada-peli {
    width: 100px;
    height: 150px; }
  .grid__video {
    height: 300px; } }

@media (max-width: 380px) {
  .portada-peli {
    width: 80px;
    height: 130px; }
  .crono-item {
    width: 280px;
    font-size: 18px; }
  .table-thead-tr {
    font-size: 18px; } }
