.h2-cronologia{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.estilo-section-crono{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.crono-item{
    padding: 15px;
    height: 90%;
     width: 90%; ;
}

