.subtitulo {
    background-color: $bgRojo; 
    background-image: $bgGradiente;
    text-align: center;
    font-size: 30px;
    color: white;
}
h2{
    width: 100%;
    
}
.grid-logo{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;    
   
}

.grid-logo-item{
    height: 100%;
    width: 70%;
}

.estilo-ul {
    display: flex;
    list-style: none;
    justify-content: end;

    padding-top: 4px;
    padding-bottom: 4px;
    height: 35px;
    background-color: $bgHex;
    
   
}
.estilo-nav-li {
    text-align: center;
    font-size: 18;
    margin: 2px;
    padding: 2px;
    border: solid;
}
// .boton-nav {
//     background-color: rgba(0, 0, 0, 0);
//     text-decoration: none;
//     height: 20px;
//     width: 100px;
// }

.btn-base{
    
     text-decoration: none;
     height: 20px;
     width: 100px;
     transition: $transicion;

     &:hover{
        opacity: 0.5;
     }
}

.btn-index {
    @extend .btn-base;
    background-color: aqua;
}
.btn-peliculas{
    @extend .btn-base;
    background-color: aquamarine;
}
.btn-cronologia{
    @extend .btn-base;
    background-color: cadetblue;
}
.btn-contacto{
    @extend .btn-base;
    background-color: cornflowerblue;
}


.estilo-a{
    text-decoration: none;
    color: black;
}
