.estilo-section-base {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 5px;
}

.section-div1 {
    @extend .estilo-section-base;
    padding-top: 10px;
    grid-template-columns: 600px 400px;
}

.section-div2 {
    @extend .estilo-section-base;
    grid-template-columns: 250px 250px 500px;
}

.grid__item {
    height: 100%;
    width: 100%;
    transition: transform 0.3s;

    &:hover {
        transform: scale(0.9);
    }

    &-img {
        height: 98%;
        width: 98%;
    }
}

@mixin texto-base ($colorFondo, $colorTexto) {
    padding: 15px;
    background-color: $colorFondo;
    color: $colorTexto ;
    font-size: 20px;
    font-style: italic;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify
}

.texto1 {
    @include texto-base(rgba(250, 250, 250, 0.8), rgba(247, 6, 6, 0.9));
}

.texto2 {
    @include texto-base(rgba(243, 46, 46, 0.8), rgba(255, 255, 255, 0.9));
}

.grid__video {
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    &-item {
        margin: 1px;
        width: 80%;
        height: 80%;
    }
}