.estilo-section-div1{
  
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    padding-top: 10px;
    grid-template-columns: 650px 450px;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.estilo-section-div2{
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    grid-template-columns: 275px 275px 550px;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.grid__item{
   height:100%;
   width: 100%;
   transition: transform 0.3s;
}

.grid__item:hover{
    transform: rotate(5deg);
}

.grid__item-img{
    height: 98%;
    width: 98%;
}
.texto-p {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-video{
    
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-video-item{
    margin: 1px;
    width: 80%;
    height: 80%;
}
