.portada-peli{
    padding-top: 5px;
    width: 120px;
    height: 170px;
}
.section-table{
    background-color: rgba(0, 0, 0, 0.5);
}
h2{
    color:  #ffffff;
}

.table{
    padding-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table-thead-tr{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);   
}

.table-base{
    font-size: 20px;
    color: white;
}
.tbody-tr{
    @extend .table-base;
    background-color: rgba(255, 0, 0, 0.7);
}
.tbody-tr2{
    @extend .table-base;
    background-color:  rgba(128, 128, 128, 0.5);
}