$bgRojo: rgba(255, 0, 0, 0.9);
$bgGradiente:radial-gradient(circle, red, black);
$bgHex:rgba(0, 0, 0, 0.5);
$redesSociales:(
    instagram:#C13584,
    twitter: #00ACEE,
    facebook: #3B5998,
    whatsapp: #25D366,
);
$transicion: all 0.3s;